- $title = get_the_title()
- $template_dir = get_template_directory_uri()
%main.page-view.advisors.split-screen(role="main")
  #app.content-wrapper
    .left-content
      .icon
        - $filename = 'icons/icon_advisor_search'
        - include(locate_template('modules/php/svg-image.php'))
      %button.back(type="button")
        %span.lnr.lnr-arrow-left
      .breadcrumb
        - echo 'RI Marketplace / ' . $title
      %h1
        - $heading = get_field('heading')
        - if (empty($heading))
          - $heading = $title
        - echo $heading
      .button-group
        %button.filter.left(type="button" v-on:click="toggleView" v-bind:class="{ selected : isMapView }")
          Map View
        %button.filter.right(type="button" v-on:click="toggleView" v-bind:class="{ selected : !isMapView }")
          List View
      .ui.accordion
        - $provinces = get_provinces()
        .title.active
          filters
        .content.active
          .ui.floating.dropdown.button.pointing.top
            %button.text.filter(type="button")
              Province
              %span.lnr.lnr-chevron-down
            .menu
              .items
                .item(data-value="")
                  %span.radio
                  %span.label
                    All Provinces
                - foreach($provinces as $province)
                  .item(data-value=$province[0])
                    %span.radio
                    %span.label
                      - echo $province[1]

    .right-content
      - $map_icon = $template_dir . "/images/ui/map_marker.png"
      - $map_icon_current = $template_dir . "/images/ui/map_marker_current.png"
      - $medal_icon = $template_dir . "/images/ui/map_popup_medal.png"
      #map-view(v-if="isMapView" data-map-icon="#{$map_icon}" data-map-icon-current="#{$map_icon_current}" data-medal-icon="#{$medal_icon}")
        %map-container(v-bind:posts="posts")
      #list-view(v-else)
        %ul
          %li(v-for="post in posts")
            %h3
              {{ post.name }}
            .address
              {{ post.location.address }}